<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title th:text="#{application.title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <link th:href="@{/bootstrap/dist/css/bootstrap.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/styles.css}" rel="stylesheet" media="screen"/>
    <link th:href="@{/css/sticky-footer.css}" rel="stylesheet" media="screen"/>

    <script th:src="@{/jquery/dist/jquery.js}" type="text/javascript"></script>
    <script th:src="@{/angular/angular.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap/dist/js/bootstrap.js}" type="text/javascript"></script>
    <script th:src="@{/atmosphere-js/atmosphere.js}" type="text/javascript"></script>
    <script th:src="@{/jquery-atmosphere/jquery.atmosphere.js}" type="text/javascript"></script>

    <script type="text/javascript" th:src="@{/js/angularApp.js}"></script>
    <script type="text/javascript" th:src="@{/js/controller/headerCtrl.js}"></script>
    <script type="text/javascript" th:src="@{/js/directive/directives.js}"></script>
</head>
<body>
<nav class="navbar navbar-default" th:fragment="header">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" th:text="#{application.name}">Rent</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/" th:text="#{home}">Home</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/login}">Sign in</a>
                </li>
                <li th:if="${#authorization.expression('!isAuthenticated()')}">
                    <a href="/signin" th:href="@{/signup}">Sign up</a>
                </li>
                <li class="dropdown" th:if="${#authorization.expression('isAuthenticated()')}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><b style="text-transform: uppercase;" sec:authentication="name">UserName</b> <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#" th:text="#{user.profile}">User Pofile</a></li>
                        <li role="separator" class="divider"></li>
                        <li>
                            <a href="/logout" th:href="@{/logout}">Logout</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
</body>
</html>